body, html {
  height: 100%;
  font-family: "Century Gothic", sans-serif;
  background: coral;
}

header {
  color: white;
  text-align: center;
  padding-bottom: 5%;
}

.cat-body {
  display: grid;
  margin: auto;
  max-width: 70%;
  max-height: 70%;
  border-radius: 15px;
  background: #FFF;
  padding: 30px;
}

.cat-img {
  margin: auto;
  max-width: 80%;
  max-height: 360px;
  padding-bottom: 10px;
}

.text {
  margin: auto;
  width: 80%;
}

.btn {
  margin: auto;
  border-radius: 20px;
  padding: 10px;
  color: white;
  background-color: coral;
}

.btn:hover {
  -webkit-filter: brightness(70%);
}

.btn:focus {
  border: none;
  outline: none;
}

.footer {
  margin: auto;
  padding: 20px;
  font-size: 0.8em;
}

.footer > a {
  color: black;
}

.footer > a:hover {
  opacity: 0.8;
}
