{% extends 'todo_list/base.html' %}

{% block content %}
    {% for task in tasks %}
        <div class="task">
            <h2><a href="{% url 'task_detail' pk=task.pk %}">
              <p>
                 <span class="{% if task.completed %} completed {% endif %}">{{ task.created_date }}: {{ task.text }} </span>
                 <span class="{% if task.completed %} date {% endif %}"> {% if task.completed %} Completed: {{ task.completed_date }} {% endif %}</span>
               </p>
            </a></h2>
            {% if user.is_authenticated %}
         <a class="btn btn-default" href="{% url 'task_complete' pk=task.pk %}"><span class="glyphicon glyphicon-check"></span></a>
         <a class="btn btn-default" href="{% url 'task_delete' pk=task.pk %}"><span class="glyphicon glyphicon-remove-circle"></span></a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
